# Only accessible for the server component or server functions
# NEXT_PUBLIC_BACKEND_API_URL=http://localhost:5000
BACKEND_API_URL=http://localhost:5000
# BACKEND_API_URL=Your Backend Live URl



JWT_ACCESS_SECRET=Your_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=Your_JWT_REFRESH_SECRET

